input[type=text], input[type=num], input[type=radio]{
	width: 60%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
label{
      display: block;
    }
body{
    width: 70%;
    margin-left: 50px;
}
.container{
    background-color: lightgray;
}